@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f0e6;
  color: #07374a;
}

header {
  background-color: #25b79f;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;
  padding: 1rem 0;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.menu-items {
  display: flex;
  gap: 1rem;
}

.menu-items li {
  list-style: none;
}

.menu-items a {
  text-decoration: none;
  color: #f0f0e6;
  font-size: 1.2rem;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.menu-items a:hover {
  color: #25b79f;
  border-bottom: 2px solid #f0f0e6;
}

.home-content .name {
  text-align: center;
}

.home-content .name h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #07374a;
}

.home-content .name p {
  font-size: 1.5rem;
  color: #f0f0e6;
}

.angle-down-icon {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  border: 3px solid #07374a;
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.angle-down-icon a {
  text-decoration: none;
  color: #07374a;
}

.angle-down-icon:hover {
  color: #f0f0e6;
  background-color: #07374a;
}

.about-me {
  background-color: #07374a;
  padding: 6rem 0;
  text-align: center;
}

.about-me .about-heading {
  color: #25b79f;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.about-content img {
  height: 230px;
  width: 280px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
}

.about-content img:hover {
  transform: scale(1.05);
}

.about-content p {
  font-size: 1.2rem;
  color: #f0f0e6;
  padding: 0 2rem;
}

.skills .skills-heading {
  font-size: 2rem;
  font-weight: 600;
  color: #25b79f;
  text-align: center;
  margin-bottom: 2rem;
}

.navbar.solid {
  background-color: #07374a;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.portfolio {
  background: #25b79f;
  padding: 6rem 0;
}

.proj-heading h1 {
  text-align: center;
  color: #07374a;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.proj-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.proj-1 img {
  height: 330px;
  width: 380px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.proj-1 img:hover {
  transform: scale(1.05);
}

.proj-1 .proj1-details {
  max-width: 32rem;
  text-align: center;
}

.proj-1 .proj1-details h2 {
  font-size: 2rem;
  color: #07374a;
  margin-bottom: 1rem;
}

.proj-1 .proj1-details p {
  font-size: 1.3rem;
  color: #07374a;
  margin-bottom: 1rem;
}

.proj-1 .proj1-details button {
  background: #07374a;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.proj-1 .proj1-details button a {
  text-decoration: none;
  color: #f0f0e6;
  font-size: 1.1rem;
}

.proj-1 .proj1-details button .fas {
  margin-left: 0.5rem;
  font-size: 0.9rem;
}

.proj-1 .proj1-details button:hover {
  background: #f0f0e6;
  color: #07374a;
  border: 2px solid #07374a;
}

.contact {
  background: #07374a;
  padding: 6rem 0;
  position: relative;
}

.contact-content {
  text-align: center;
}

.contact-content h2 {
  font-size: 2.5rem;
  font-weight: 400;
  color: #25b79f;
  margin-bottom: 1rem;
}

.contact-content .mail {
  color: #f0f0e6;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.contact-content .links {
  color: #25b79f;
  font-size: 1rem;
  margin-bottom: 1.8rem;
}

.contact-content a {
  text-decoration: none;
  color: #25b79f;
  padding: 0.5rem;
  transition: color 0.3s ease;
}

.contact-content a:hover {
  color: #f0f0e6;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #07374a;
  color: #f0f0e6;
  padding: 10px;
  border-radius: 50%;
  display: none;
  transition: background-color 0.3s, color 0.3s;
}

.back-to-top.visible {
  display: block;
}

.back-to-top:hover {
  background-color: #f0f0e6;
  color: #07374a;
}

@media (max-width: 500px) {
  html {
    font-size: 60%;
  }

  .about-content {
    flex-direction: column;
  }

  .proj-1 {
    flex-direction: column;
  }

  .proj-1 img {
    height: 230px;
    width: 290px;
  }

  .contact-content {
    width: 100%;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  html {
    font-size: 65%;
  }

  .about-content {
    flex-direction: column;
  }

  .proj-1 {
    flex-direction: column;
  }

  .proj-1 img {
    height: 240px;
    width: 290px;
  }

  .contact-content {
    width: 100%;
  }
}
